[submodule "wireless-esp8266-dap"]
	path = ./components/wireless-esp8266-dap
	url = https://github.com/xutongxin1/wireless-esp8266-dap.git
[submodule "XMB-FunctionModules"]
	path = ./components/XMB-FunctionModules
	url = https://github.com/xutongxin1/XMB-FunctionModules.git
